[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopy = "*"
geojson = "*"
shapely = "*"

[dev-packages]
requests = "*"
scrapy = "*"
rsa = "*"

[requires]
python_version = "3.12"
