[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopy = "*"
geojson = "*"
scrapyd = "*"
scrapydweb = "*"
logparser = "*"
websockets = "*"
reverse-geocode = "*"

[dev-packages]
pyzipcode = "*"
requests = "*"
rsa = "*"
scrapy = "*"
scrapyd-client = "*"

[requires]
python_version = "3.12"
